#name{
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    padding-top: 2ch;
    text-align: center;
}
h2{
    font-weight:bold;
    font-size: 3em;
}
body{
    font-family: "Ysabeau Infant", sans-serif;
    background-color: rgb(224, 234, 244);
    margin:0;
    padding: 0;
    line-height: 1.5;    
      
    
    
}
#profile-picture{
    width: 60%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    




}
#navigation ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(9, 130, 53);
    padding: 0;
    margin: 0; 
    list-style-type: none; 

}
#navigation a{
    padding: 10px;
    color: white;
    display: block;
    width: 100%;

}
#navigation a:hover{
    background-color: hsl(0, 0%, 10%);
}
#navigation li{
    width: 100%;
    text-align: center;
}

#connect-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    

}
#connect-links img{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;

}

@media (min-width: 768px) {
    #navigation ul {
        flex-direction: row;
    }

    #name {
        font-size: 2.5rem;
    }

    #profile-picture {
        width: 40%;
    }

    #navigation li {
        width: auto;
    }

    #connect-links img {
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 1024px) {
    #name {
        font-size: 3rem;
    }

    #profile-picture {
        width: 25%;
    }

    #navigation ul {
        justify-content: space-around;
    }

    #connect-links img {
        height: 60px;
        width: 60px;
    }
}
